# APPLIED DATA SCIENCE CAPSTONE PROJECT
This notebook will be used for the capstone project.

In [1]:
import numpy as np
import pandas as pd

In [ ]:
#Install lxml package which is used for reading tables from wikipedia page
#!conda install -c anaconda lxml -y

The first step is reading the table from the given wikipedia page. The code below will read all tables in the given page and assign it to the 'tables'.

In [2]:
tables = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
print('List contains {} tables!'.format(len(tables)))

List contains 3 tables!

Now we have 3 tables in our list. If we examine the elements of the list, it's clear that the first table is the table we need. So let's assing this table to a dataframe and check the result:

In [3]:
df_postal = pd.DataFrame(data = tables[0])
df_postal.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Dataframe seems correct. Now let's extract only the rows with an assigned 'Borough':

In [4]:
#Ignore postal codes with 'Not assigned' borough
df_postal = df_postal[df_postal['Borough'] != 'Not assigned']
#Reset index
df_postal.reset_index(drop=True, inplace=True)
df_postal.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [ ]:
#Check if there is unassigned neighborhood
df_postal['Neighborhood'].isna().value_counts()

Since there is no unassigned 'Neighborhood' value, the dataframe is ready for the next part.

In [ ]:
print('Shape of the dataframe:', df_postal.shape)